{{>header}}
<div >
     <center>
    <h1>Pintores</h1>
    <br>
    {{#if pintores}}
    <table>
        <thead>
            <tr>
                <th><center>ID</center></th>
                <th><center>Nombre</center></th>
                <th><center>Nacionalidad</center></th>
                <th><center>Corriente</center></th>
                <th><center>Imagen</center></th> 
            </tr>
        </thead>
        <tbody>
        {{#each pintores}}
            <tr>
                <td><center>{{_id}}</center></td>
                <td><center>{{nombre}}</center></td>
                <td><center>{{nacionalidad}}</td>
                <td><center>{{corriente}}</center></td>
                <td><center><img width="25%" src="../images/{{pintura}}"><p>{{nompin}}</p></center></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </center>
    {{else}}
    <div>No hay pintores</div>
    {{/if}}
</div>
<br><br>
{{>footer}}
