{{>header}}

<div >
     <center>
    <h1>Pintores</h1>
    {{#if pintores}}
    <table>
        <thead>
            <tr>
                <td><center>ID</center></td>
                <td><center>Nombre</center></td>
                <td><center>Nacionalidad</center></td>
                <td><center>Corriente</center></td>
                <td><center>Imagen</center></td> 
            </tr>
        </thead>
        <tbody>
        {{#each pintores}}
            <tr>
                <td>{{_id}}</td>
                <td>{{nombre}}</td>
                <td>{{nacionalidad}}</td>
                <td>{{corriente}}</td>0
                <td><center><img width="25%" src="../images/{{pintura}}"></center></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </center>
    {{else}}
    <div>No hay pinches pintores</div>
    {{/if}}
</div>

{{>footer}}
